<header id="header" class="fixed-top d-flex align-items-cente">
	<div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
		<h1 class="logo me-auto me-lg-0">
			<a href="{{ path('app_home')}}">GARAGE
				<span>V.PARROT</span>
			</a>
		</h1>
		<nav id="navbar" class="navbar order-last order-lg-0">
			<ul> 
				<li>
					<a class="nav-link scrollto active" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="{{ path('app_service') }}">Prestation de service</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#">Voiture d'occasion</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#">Contact</a>
				</li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav>
		{% if app.user %}
			<li class="connexion-btn scrollto d-none d-lg-flex">
				<a href="#" class="nav-link">Mon compte</a>
			</li>
			<li class="connexion-btn scrollto d-none d-lg-flex">
				<a href="{{ path('app_logout') }}" class="nav-link">Me déconnecter</a>
			</li>
		{% else %}
			<a href="{{ path('app_login') }}" class="connexion-btn scrollto d-none d-lg-flex">Connexion</a>
		{% endif %}
	</div>

</header>
