{% extends 'base.html.twig' %}

{% block title %}Détails voiture{% endblock %}

{% block body %}
    <!-- ======= accueil Section ======= -->
    <section id="cars" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h2>
                        Découvrez en détail cette merveille automobile qui allie élégance et puissance. Plongez dans ses caractéristiques exceptionnelles, son design raffiné et ses performances incomparables. Chaque élément de cette voiture a été pensé pour vous offrir une expérience de conduite unique et inoubliable. Préparez-vous à tomber sous le charme de cette merveille mécanique, prête à vous accompagner dans toutes vos aventures sur la route.
                    </h2>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End Accueil -->
    <section class="cars-section cars-car-details">
        <div class="container">
            <div class="row">
                <div class="car-details justify-content-center">
                    <img class="img rounded" src="/images/{{ car.picture }}" alt="{{ car.carsBrand }}" >
                    <div class="text text-center">
                        <span class="subheading">{{ car.carsBrand }}</span>
                        <h1>{{ car.carsModel }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="text text-center">Caractéristiques</h3>
                <div class="col-md d-flex align-self-stretch ">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="text">
                                    <h3 class=" mb-0 pl-3">
                                        Prix
                                        <span>{{ car.carsPrice }}</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="text">
                                    <h3 class=" mb-0 pl-3">
                                        Kilométrage
                                        <span>{{ car.carsKm }}</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch cars-animate">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="text">
                                    <h3 class=" mb-0 pl-3">
                                        Année
                                        <span>{{ car.carsYear|date('Y-m-d') }}</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch cars-animate">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="text">
                                    <h3 class=" mb-0 pl-3">
                                        Carburant
                                        <span>{{ car.carsEnergy }}</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="text text-center">Description</h3>
                <p>{{ car.descriptionCars }}</p>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{{ path('app_carscatalogue')}}" class="sub-btn">Retour</a>
			</div>
        </div>
    </section>
{% endblock %}
