{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <!-- ======= accueil Section ======= -->
    <section id="carscatalogue" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h2>
                        Explorez notre catalogue exclusif de voitures à vendre, une sélection soigneusement choisie pour répondre à vos exigences. Découvrez des modèles variés, des performances remarquables et des véhicules de qualité supérieure. Trouvez la voiture de vos rêves parmi notre collection et embarquez pour une expérience de conduite inégalée.
                    </h2>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End Accueil -->
    <section class="cars">
        <div class="container">
            <div class="section-title d-flex justify-content-center">
                <p>Notre gamme des voitures</p>
            </div>
            <div class="row">
                {% for car in cars %}
                    <div class="col-md-4">
                        <div class="car-wrap rounded">
                            <img src="/images/{{ car.picture }}" class="img rounded d-flex align-items-end"/>
                            <div class="text">
                                <h2 class="mb-0">
                                    <a href="{{ path('app_cars', { 'id': car.id }) }}">{{ car.carsBrand }}</a>
                                </h2>
                                <div class="d-flex mb-3">
                                    <span class="cat"></span>
                                    <p class="price ml-auto">{{ car.carsPrice }} €</p>
                                </div>
                                <p class="d-flex mb-0 d-block">
                                    <a href="{{ path('app_contact')}}" class="sub-btn">Contact</a>
                                    <a href="{{ path('app_cars', { 'id': car.id }) }}" class="sub-btn">Détails</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
