{% for car in cars %}
	<div class="col-md-4">
		<div class="car-wrap rounded">
			<img src="/images/{{ car.picture }}" class="img rounded d-flex align-items-end"/>
			<div class="text">
				<h2 class="mb-0 text-center">
					Modéle :
					<a href="{{ path('app_cars', { 'id': car.id }) }}">{{ car.carsBrand }}</a>
				</h2>
				<div class="text-center">

					<span class="cat">Prix :
					</span>
					<p class="price ml-auto">
						{{ car.carsPrice | number_format(0, ',', ' ') }}
						€</p>

					<span class="cat">Kilométrage :
					</span>
					<p class="km ml-auto">
						{{ car.carsKm | number_format(0, ',', ' ') }}
						KM</p>

					<span class="cat">Année :
					</span>
					<p class="year ml-auto">
						{{ car.carsYear|date('d-m-Y') }}</p>

				</div>

				<p class="d-flex mb-0 d-block">
					<a href="{{ path('app_contact')}}" class="sub-btn">Contact</a>
					<a href="{{ path('app_cars', { 'id': car.id }) }}" class="sub-btn">Détails</a>
				</p>
			</div>
		</div>
	</div>
{% endfor %}
